#### 1

In [49]:
import re 
import pandas as pd
import numpy as np
books = pd.read_csv('books.csv')
books

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

#### 2

In [50]:
b1 = books[books['Publisher'].str.count('(?i)[aeuioy]')==0 ]
b2 = books[books['Publisher'].str.count('(?i)[aeuioy]')==1 ]
b3 = pd.concat([b1, b2], ignore_index=True)
b3

,Title,Author,Genre,SubGenre,Height,Publisher
0,Image Processing & Mathematical Morphology,"Shih, Frank",tech,signal_processing,241,CRC
1,"Complete Mastermind, The",BBC,nonfiction,trivia,178,BBC
2,Principles of Communication Systems,"Taub, Schilling",tech,signal_processing,240,TMH
3,"Analysis, Vol I","Tao, Terence",tech,mathematics,248,HBA
4,False Impressions,"Archer, Jeffery",fiction,novel,177,Pan
5,"Prisoner of Birth, A","Archer, Jeffery",fiction,novel,176,Pan
6,One,"Bach, Richard",nonfiction,autobiography,172,Dell

#### 3

In [51]:
lettersstart = ('B','C','D','F','G','H','J','K','L','M','N','P','Q','R','S','T','V','W','X','Z')
lettersend = ('b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','z')
books3 = books[books['Author'].str.split(', ').str.get(0).str.startswith(lettersstart, na = False)]
#books3
books3[books3['Author'].str.split(', ').str.get(0).str.endswith(lettersend, na = False)]

,Title,Author,Genre,SubGenre,Height,Publisher
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",tech,data_science,230,Springer
...,...,...,...,...,...,...
200,Tales of Beedle the Bard,"Rowling, J K",fiction,novel,184,NaN
201,Girl with the Dragon Tattoo,"Larsson, Steig",fiction,novel,179,NaN
202,Girl who kicked the Hornet's Nest,"Larsson, Steig",fiction,novel,179,NaN
203,Girl who played with Fire,"Larsson, Steig",fiction,novel,179,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

#### 4

In [52]:
books['VowelCount'] = books['Title'].str.count("(?i)[aeiouy]")
books[books.VowelCount == books.VowelCount.max()]

,Title,Author,Genre,SubGenre,Height,Publisher,VowelCount
115,Clash of Civilizations and Remaking of the Wor...,"Huntington, Samuel",nonfiction,history,228,Simon&Schuster,17

#### 5

In [53]:
books[books['Title'].str.contains(r'\b\w{2}\b', na = False)]

,Title,Author,Genre,SubGenre,Height,Publisher,VowelCount
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,8
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",tech,data_science,230,Springer,15
6,Integration of the Indian States,"Menon, V P",nonfiction,history,217,Orient Blackswan,12
9,How to Think Like Sherlock Holmes,"Konnikova, Maria",nonfiction,psychology,240,Penguin,9
10,Data Scientists at Work,Sebastian Gutierrez,tech,data_science,230,Apress,7
...,...,...,...,...,...,...,...
190,"History of England, Foundation","Ackroyd, Peter",nonfiction,history,197,NaN,11
191,City of Djinns,"Dalrymple, William",nonfiction,history,198,NaN,4
193,More Tears to Cry,"Sassoon, Jean",fiction,novel,235,NaN,6
199,Eyeless in Gaza,"Huxley, Aldous",fiction,novel,180,NaN,7
200,Tales of Beedle the Bard,"Rowling, J K",fiction,novel,184,NaN,8

#### 6

In [54]:
books[books['Author'].str.split(',').str.get(1).str.contains('(?i)[bcdfghjklmnpqrstvwxz]{3}', na = False)]

,Title,Author,Genre,SubGenre,Height,Publisher,VowelCount
26,"Beautiful and the Damned, The","Deb, Siddhartha",nonfiction,history,198,Penguin,10
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,10
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,11
56,Textbook of Economic Theory,"Stonier, Alfred",tech,economics,242,Pearson,11
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,7
61,Principles of Communication Systems,"Taub, Schilling",tech,signal_processing,240,TMH,12
62,Let Us C,"Kanetkar, Yashwant",tech,computer_science,213,Prentice Hall,2
89,On Education,"Russell, Bertrand",philosophy,education,203,Routledge,6
112,History of Western Philosophy,"Russell, Bertrand",philosophy,philosophy,213,Routledge,10
123,Unpopular Essays,"Russell, Bertrand",philosophy,philosophy,198,NaN,7
172,Pointers in C,"Kanetkar, Yashwant",tech,computer_science,213,NaN,4
184,"Justice, Judiciary and Democracy","Ranjan, Sudhanshu",nonfiction,legal,224,NaN,13

#### 7

In [55]:
books['Last word'] = books.apply(lambda x: x['Title'].split(" ")[len(x["Title"].split(" "))-1], axis=1)
books['last word findall']=books['Title'].str.findall(r'\b(\w+)\W*$')
books

,Title,Author,Genre,SubGenre,Height,Publisher,VowelCount,Last word,last word findall
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,8,Wavelets,[Wavelets]
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,3,Smart,[Smart]
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,8,Integers,[Integers]
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,7,Superfreakonomics,[Superfreakonomics]
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,5,Orientalism,[Orientalism]
...,...,...,...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN,7,Randomness,[Randomness]
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN,9,MATLAB,[MATLAB]
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN,4,Farm,[Farm]
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN,4,The,[The]
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN,5,A,[A]

#### 8

In [56]:
books[books['Author'].str.split(', ').str.get(0).str.contains(r'\b\w{5}\b', na = False)]

,Title,Author,Genre,SubGenre,Height,Publisher,VowelCount,Last word,last word findall
6,Integration of the Indian States,"Menon, V P",nonfiction,history,217,Orient Blackswan,12,States,[States]
14,"Age of Wrath, The","Eraly, Abraham",nonfiction,history,238,Penguin,5,The,[The]
15,"Trial, The","Kafka, Frank",fiction,classic,198,Random House,3,The,[The]
16,Statistical Decision Theory',"Pratt, John",tech,data_science,236,MIT Press,11,Theory',[Theory]
18,"New Machiavelli, The","Wells, H. G.",fiction,novel,180,Penguin,7,The,[The]
27,"Outsider, The","Camus, Albert",fiction,classic,198,Penguin,5,The,[The]
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,10,I,[I]
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,11,II,[II]
30,"Wealth of Nations, The","Smith, Adam",science,economics,175,Random House,7,The,[The]
33,"Tao of Physics, The","Capra, Fritjof",science,physics,179,Penguin,6,The,[The]
44,"Hidden Connections, The","Capra, Fritjof",science,physics,197,HarperCollins,7,The,[The]
54,Dylan on Dylan,"Dylan, Bob",nonfiction,autobiography,197,Random House,5,Dylan,[Dylan]
55,Soft Computing & Intelligent Systems,"Gupta, Madan",tech,data_science,242,Elsevier,10,Systems,[Systems]
65,Angels & Demons,"Brown, Dan",fiction,novel,178,Random House,4,Demons,[Demons]
67,Sea of Poppies,"Ghosh, Amitav",fiction,novel,197,Penguin,6,Poppies,[Poppies]
72,Scoop!,"Nayar, Kuldip",nonfiction,history,216,HarperCollins,2,Scoop!,[Scoop]
111,"Artist and the Mathematician, The","Aczel, Amir",science,mathematics,186,HighStakes,11,The,[The]
116,Uncommon Wisdom,"Capra, Fritjof",nonfiction,anthology,197,Fontana,5,Wisdom,[Wisdom]
121,"Discovery of India, The","Nehru, Jawaharlal",nonfiction,history,230,NaN,9,The,[The]
130,"Short History of the World, A","Wells, H G",nonfiction,history,197,NaN,8,A,[A]
133,Simpsons & Their Mathematical Secrets,"Singh, Simon",science,mathematics,233,NaN,11,Secrets,[Secrets]
136,"Code Book, The","Singh, Simon",science,mathematics,197,NaN,5,The,[The]
156,Power Electronics - Mohan,"Mohan, Ned",tech,computer_science,237,NaN,8,Mohan,[Mohan]
166,Mossad,"Baz-Zohar, Michael",nonfiction,history,236,NaN,2,Mossad,[Mossad]
168,20000 Leagues Under the Sea,"Verne, Jules",fiction,novel,190,NaN,9,Sea,[Sea]
181,Broca's Brain,"Sagan, Carl",science,physics,174,NaN,4,Brain,[Brain]
189,Dongri to Dubai,"Zaidi, Hussain",nonfiction,history,216,NaN,6,Dubai,[Dubai]
195,Angels & Demons,"Brown, Dan",fiction,novel,170,NaN,4,Demons,[Demons]